$themes: (
    dark: (
        theme-100: hsl(209, 23%, 22%),
        theme-200: hsl(207, 26%, 17%),
        theme-text: hsl(0, 0%, 100%),
    ),
    light: (
        theme-100: hsl(0, 0%, 100%),
        theme-200: hsl(0, 0%, 98%),
        theme-text: hsl(200, 15%, 8%),
    )
);

html[data-theme="dark"] {
    @each $theme, $theme-colors in $themes {
        @if $theme == dark {
            @each $name, $value in $theme-colors {
                --#{$name}: #{$value};
            }
        }
    }
}

html[data-theme="light"] {
    @each $theme, $theme-colors in $themes {
        @if $theme == light {
            @each $name, $value in $theme-colors {
                --#{$name}: #{$value};
            }
        }
    }
}